@{
    ViewBag.Title = "ContactInfo";
}

<h1>ContactInfo</h1>
<br>
<p>Phone: +8801779746565</p>
<p>Email: mohammedeiman0177@gmail.com</p>
<p>LinkedIn: www.linkedin.com/in/rahman-mofizur-669739181/</p>
<p>Address: Bashundhara R/A, Dhaka, Bangladesh</p>