@{
    ViewBag.Title = "Education";
}

<h1>Education</h1>

<p>2019-2022</p>
<p><b>Bachelor's in Computer Science</b></p>
<p>American International University-Bangladesh</p>
<p>Cgpa: 3.64</p>

<p>2018</p>
<p><b>(Higher-Secondary)HSC</b></p>
<p>Hazera-Taju Degree College, Chittagong</p>
<p>Gpa: 4.0</p>

<p>2016</p>
<p><b>(Secondary)SSC</b></p>
<p>Chittagong Government High School</p>
<p>Gpa: 5.0</p>