@{
    ViewBag.Title = "Introduction";
}

<h1>Introduction</h1>
<p>Name: Mohammed Mofizur Rahman</p>
<p>Currently I am working on Web Technologies and trying to be familiar with CSS & JavaScript. I enjoy solving problems and thinking rationally.</p>
<p>I am also a learner of Python programming and searching opportunities to these fields</p>