@{
    ViewBag.Title = "References";
}

<h1>References</h1>

<p>1. Shahrin Chowdhury</p>
<p>Designation: Senior Lecturer</p>
<p>Institution: AIUB</p>
<p>Email: shahrin@aiub.edu</p>

<p>2. Ridwanul Islam</p>
<p>Designation: Senior Software Developer</p>
<p>Institution: MassiveStar Studio Ltd.</p>
<p>Email: ridwanul@gmail.com</p>

