@{
    ViewBag.Title = "Skills";
}

<h1>Skills</h1>

<p>Algorithms</p>
<p>Data Structures</p>
<p>C++</p>
<p>C#</p>
<p>JavaScript</p>
<p>My SQL</p>
<p>Python</p>
<p>ReactJS</p>
<p>Laravel</p>
<p>Linux</p>
<p>Wordpress</p>
<p>OOAD</p>
